@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');

body{
    background: #E5E5E5;
}

header .logo{
    margin-top: 20px;
    margin-left: 60px;
}

main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

#input-frase{
    /* Ingrese el texto aqui */
    background-color: #E5E5E5;  
    border: none; 
    outline: none;
    position: absolute;
    width: 577px;
    height: 250px;
    left: 240px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}

.alert-text{
    position: absolute;
    left: 16%;
    top: 67%;
}

.alert{
    /* Vector */
    position: absolute;
    left: -12%;
    right: 0%;
    top: 11%;
    bottom: 0%;

    /* Gray/gray-400 */
    
}

.info-text{
    width: 205px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Gray/gray-400 */

    color: #495057;

    opacity: 0.8;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones{
   /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 200px;
    top: 460px; 
}

#btn-encriptar{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;
    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;  
}

#btn-encriptar a{
    /* Button */
    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

#btn-desencriptar a, #btn-copy a{
    /* Button */
    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */
    color: #0A3871;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

#btn-desencriptar{
    /* Button */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    /* Light gray */
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

#seccion-desencriptado{
    position: absolute;
    width: 350px;
    height: 500px;
    left: 950px;
    top: 40px;

    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.textos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 300px;
    height: 122px;
    left: 10px;
    top: 350px;

}

.seccion-desencriptado{
    top: 35px;
}

.area-desencriptado{
    border: none; 
    outline: none;
    width: 320px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-align: center;
    /* Gray/gray-400 */
    color: #495057;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.area-desencriptado2{
    width: 320px;
    height: 350px;
}

.personita{
    position: absolute;
    width: 300px;
    height: 271px;
    left: 10px;
    top: 70px;
}

.mensaje-alerta{
    width: 320px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    text-align: center;

    /* Gray/gray-500 */
    color: #343A40;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

#btn-copy{
    
    /* Button */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    /* Light gray */
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    position: absolute;
    left: 10px;
    top: 420px;
}

.copyrigth{
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    left: 35%;
    top: 95%;
}